body {
    font-family: Arial;
    /* fonte simples */

    padding: 20px;
    /* espaço na tela */
}

.produtos {
    display: flex;
    /* deixa os produtos do lado */

    gap: 20px;
    /* espaço entre eles */
}

.produto {
    border: 1px solid gray;
    padding: 10px;
}